<!DOCTYPE html>
<html lang="en" xmlns:th="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="css/project.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <nav th:replace="~{layouts/nav :: nav}">
        </nav>
    </header>
    <main>
        <div class="introduction">
            <h1>Books</h1>
            <p>Book in our collection.</p>
        </div>
        <div class="flexbook">
            <div class="bookCard" th:each="book : ${books}">
                <img src="https://picsum.photos/180" alt="wadaw">
                <div class="content">
                    <div class="header-text">
                        <h3 th:text="${book.title}">Title</h3>
                        <a th:href="@{/book/{id}(id=${book.id})}" id="btnBook">ACESSAR</a>
                        <a th:href="@{/author/{id}(id=${book.author.getId})}" th:text="${book.author.getName}">Author</a>
                        <p th:text="${#temporals.format(book.releaseDate, 'dd/MM/yyyy')}">releaseDate</p>
                    </div>
                    <div class="resume">
                        <p th:text="${book.resume}" class="resume">Resume</p>
                    </div>
                </div>
            </div>
    </main>
    <footer></footer>
</body>

</html>