<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator menu</title>
    <link rel="stylesheet" href="../css/project.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav th:replace="~{layouts/nav :: nav}">
        </nav>
    </header>
    <main>
        <div class="actionBtns">
            <div class="action"><a href="adm/registerbook">Register new book</a></div>
            <div class="action"><a href="">oi</a></div>
            <div class="action"><a href="">oi</a></div>
        </div>
    </main>
</body>
</html>