@media screen and (max-width: 768px){
    .bookCard{
        width: 100vw !important;
    }
    .bookCard .dates{
        font-size: 1px;
    }

}

.registerform{
    background-color: #FEFAE0
}
    .registerform input[type="text"]{
        border: none;
        width: 30vw;
        font-size: 40px;
    }
    .registerform input[type="date"]{
        border: none;
        font-size: 40px;
    }


.bookCard{
    background: var(--c3);
    width: 40vw;
    border: 300px;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.1);
    height: 140px;
    overflow: auto;
}
    .bookCard img{
        float: left;
        position: sticky;
        top: 0;
    }
    .bookCard h3{
        border-left: 10px;
    }
    .bookCard .header-text{
        position: sticky;
        background: var(--c3);
        top: 0;
    }
    .bookCard .resume{
        
    }
    .bookCard a{
        color: black;
    }
    .bookCard #btnBook{
        float: right;
    }
    .bookCard .dates{
        display: inline;
    }

.flexbook{
    display: flex;
    flex-flow: row wrap;
}

.flexbook div{
    margin: 10px;
}

.flexbook .content{
    padding-left:150px;
}
