<!DOCTYPE html>
<html lang="en" xmlns:th="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/project.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <nav>
            <a href="/" class="logo">Biblioteca</a>
            <ul class="nav-list">
                <li><a href="/books">Livros</a></li>
                <li>Autores</li>
                <li><a href="/adm/registerbook">Sign in</a></li>
                <li>Sobre</li>
            </ul>
        </nav>
    </header>
    <main>
       <div class="introduction">
            <h1>Authors</h1>
        </div>
        <div class="flexbook">
            <div class="bookCard" th:each="author : ${authors}">
                <img src="https://picsum.photos/140" alt="wadaw">
                <div class="content">
                    <div class="header-text">
                        <h3 th:text="${author.name}">Title</h3>
                        <a th:href="@{/author/{id}(id=${author.id})}" id="btnBook">Acessar</a>
                        <p th:text="${author.bornIn}">releaseDate</p>
                        <p th:text="${author.language}">releaseDate</p>
                        <p class="dates" th:text="${author.birthDate}">releaseDate</p>
                        <p class="dates"> - </p>
                        <p class="dates" th:text="${author.deathDate}">releaseDate</p>
                    </div>
                    <div class="resume">
                        <p th:text="${author.biography}" class="resume">Resume</p>
                    </div>
                </div>
            </div>
    </main>
    <footer></footer>
</body>

</html>