<!DOCTYPE html>
<html lang="en" xmlns:th="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/project.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav th:replace="~{layouts/nav :: nav}">
        </nav>
    </header>
    <main>
        <div class="contentBox">
            <div class="mainblock">
                <img src="https://picsum.photos/200/300" alt="">
                <h1 th:text="${book.title}"></h1>
                <p th:text="${book.author}"></p>
                <p th:text="${book.releaseDate}"></p>
            </div>
            <div class="resume">
                <p th:text="${book.resume}"></p>

            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>