<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/project.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav th:replace="~{layouts/nav :: nav}">
        </nav>
    </header>
    <main>
        <div class="formBox">
            <form action="#" th:action="@{/signin}" th:object="${usr}" method="post">
                
                    <div class="formField">
                        <label for="userName">User </label>
                        <input type="text" name="userName" id="userName" th:field="*{user}">
                    </div>
                    <div class="formField">
                        <label for="passwd">Password </label>
                        <input type="password" name="passwd" id="passwd" th:field="*{passwd}">
                    </div>
               
                    <button type="submit">Sign in</button>
                
            </form>
        </div>
    </main>
    <footer></footer>
</body>
</html>